.App {
  text-align: center;
}

.App-logo {

}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Board {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px 250px;
  grid-gap: 10px;
}

.Cell {
  background-color: #ccc;
  font-size: 10em;
  color: #fff;
  vertical-align: center;
  align: center;
  box-sizing: border-box;

}

.Winner {
  background-color: #0F0;
}
